---
import Layout from '../layouts/Default.astro'
import Navbar from '../components/Navbar.astro'
import NavbarClone from '../components/NavbarClone.astro'
import Starfall from '../components/Starfall.astro'
const title = 'Home'
---

<Layout title={title}>
  <div class="dark-wrapper">
    <!-- Landing page Hero -->
    <section class="hero is-fullheight is-transparent">
      <div class="hero-head">
        <!-- Cloned navbar -->
        <NavbarClone />

        <!-- Static navbar -->
        <Navbar />
      </div>

      <!-- Animated particles -->
      <Starfall />

      <!-- Hero Image and Title -->
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <!-- Landing page Title -->
            <div class="column is-5 landing-caption">
              <h1 class="title is-1 is-light is-semibold is-spaced main-title">Smart Trading, Maximum Profits</h1>
              <h2 class="subtitle is-5 is-light is-thin">Welcome to Algo X Trading where cutting-edge technology meets financial markets. Our AI-driven Trading System analyze market trends, price action, and volatility to make intelligent trading decisions. Experience automated trading that prioritizes high rewards with low risks.</h2>
              <!-- CTA -->
              <p class="buttons">
                <a href="#start" class="button k-button k-primary raised has-gradient is-fat is-bold">
                  <span class="text">Get Started</span>
                  <span class="front-gradient"></span>
                </a>
<!--                 
                <a href="#" class="button k-button k-primary raised has-gradient is-fat is-bold">
                  <span class="text">Learn More</span>
                  <span class="front-gradient"></span>
                </a> -->

              </p>
            </div>
            <!-- Hero image -->
            <div class="column is-7">
              <figure class="image">
                <img src="/img/illustrations/buildings.svg" alt="" />
              </figure>
            </div>
          </div>
        </div>
      </div>

      <!-- Hero footer -->
      <div class="hero-foot">
        <div class="container">
          <div class="tabs is-centered">
            <!-- Client / partner list -->
            <ul>
              <li>
                <a><img class="hero-logo" src="/img/clients/cryptomarket.svg" alt="" /> </a>
              </li>
              <li>
                <a><img class="hero-logo" src="/img/clients/bitit.svg" alt="" /> </a>
              </li>
              <li>
                <a><img class="hero-logo" src="/img/clients/coin.svg" alt="" /> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- /Landing page Hero -->

    <!-- Icon Features section -->
    <section id="start" class="section is-transparent is-relative">
      <!-- Container -->
      <div class="container">
        <div class="has-text-centered">
          <a class="button k-button k-secondary raised has-gradient is-fat is-bold rounded">
            <span class="text">Buy Algo X AI System 20% off</span>
            <span class="front-gradient"></span>
          </a>

          <div class="buy-title">We Accept</div>

          <div class="accepted-currencies">
            <div>
              <iconify-icon class="iconify" icon="cryptocurrency:btc"></iconify-icon>
            </div>
            <div>
              <iconify-icon class="iconify" icon="cryptocurrency:eth"></iconify-icon>
            </div>
            <div>
              <iconify-icon class="iconify" icon="cryptocurrency:ltc"></iconify-icon>
            </div>
            <div>
              <iconify-icon class="iconify" icon="cryptocurrency:xem"></iconify-icon>
            </div>
          </div>
        </div>

        <!-- Content wrapper -->
        <div class="content-wrapper is-medium mt-6">
          <div class="columns is-vcentered">
            <!-- Feature -->
            <div class="column is-4">
              <div class="feature">
                <img src="/img/icons/chained.svg" alt="" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200" data-aos-easing="ease-out-quart" />
                <h4 class="title is-6 is-tight is-light">Automated Trading Excellence</h4>
                <p>AI-powered trading systems that optimizes market opportunities with precision and efficiency."</p>
              </div>
            </div>
            <!-- Feature -->
            <div class="column is-4">
              <div class="feature">
                <img src="/img/icons/stacked.svg" alt="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="200" data-aos-easing="ease-out-quart" />
                <h4 class="title is-6 is-tight is-light">Smart Risk Management</h4>
                <p>Minimizing risk while maximizing returns with intelligent trade execution.</p>
              </div>
            </div>
            <!-- Feature -->
            <div class="column is-4">
              <div class="feature">
                <img src="/img/icons/compact.svg" alt="" data-aos="fade-up" data-aos-delay="500" data-aos-offset="200" data-aos-easing="ease-out-quart" />
                <h4 class="title is-6 is-tight is-light">Proven High Win Rate</h4>
                <p>Consistently delivering profitable trades with a high success rate.</p>
              </div>
            </div>
          </div>

          <!-- Play video button -->
          <div class="cta-wrapper has-text-centered">
            <div class="video-button levitate js-modal-btn" data-video-id="6WG7D47tGb0">
              <img src="/img/icons/play.svg" alt="" />
            </div>
          </div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- /Container -->
    </section>
    <!-- /Icon Features section -->

    <!-- Side Features section -->
    <section id="big-gradient" class="section is-transparent">
      <!-- Container -->
      <div class="container">
        <!-- Divider -->
        <div class="divider is-centered"></div>
        <!-- Title & subtitle -->
        <h2 class="title is-light is-semibold has-text-centered is-spaced">Intelligent Trading Technology</h2>
        <h4 class="subtitle is-6 is-light has-text-centered is-compact">
          The Algo X Trading Systems is designed to analyze real-time market conditions, adapt to fluctuations, and make dynamic trading decisions. With advanced risk and position management, it carefully determines when to trade and when to stay out, ensuring optimal performance.
        </h4>

        <!-- Content wrapper -->
        <div class="content-wrapper is-large">
          <div class="columns is-vcentered">
            <!-- Feature content -->
            <div class="column is-5 is-offset-1">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">
                  <img src="/img/icons/ico/bitbanner.svg" alt="" />
                  <span>Trend Identifying</span>
                </h3>
                <div class="divider is-long"></div>
                <p class="is-light">
                  Algo X Trading Systems intelligently analyzes market trends in real-time, detecting strong momentum and potential reversals. It ensures you enter trades at the right time, maximizing profit opportunities while minimizing risk.
                </p>

                <!-- <div class="cta-wrapper">
                  <a href="/token" class="button k-button k-primary raised has-gradient is-bold">
                    <span class="text">Learn More</span>
                    <span class="front-gradient"></span>
                  </a>
                </div>
                 -->
              </div>
            </div>

            <!-- Feature image -->
            <div class="column is-7">
              <img class="side-feature" src="/img/illustrations/token.svg" alt="" />
            </div>
          </div>

          <div class="columns is-vcentered">
            <!-- Feature image desktop -->
            <div class="column is-7 is-hidden-mobile">
              <img class="side-feature" src="/img/illustrations/blockchain-blocks.svg" alt="" />
            </div>

            <!-- Feature content -->
            <div class="column is-5">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">
                  <img src="/img/icons/ico/bitnetwork.svg" alt="" />
                  <span>Adaptive Market Intelligence</span>
                </h3>
                <div class="divider is-long"></div>
                <p class="is-light">
                  The Algo X Trading Systems goes beyond basic automation—it learns, adapts, and executes based on real-time market conditions. Using advanced algorithms, it identifies profitable opportunities while dynamically adjusting to trends, volatility, and risk factors, ensuring smarter and more efficient trading decisions.
                </p>
                <!-- <div class="cta-wrapper">
                  <a href="#" class="button k-button k-primary raised has-gradient is-bold">
                    <span class="text"></span>
                    <span class="front-gradient"></span>
                  </a>
                </div>
                 -->
              </div>
            </div>

            <!-- Feature image only for mobile -->
            <div class="column is-7 is-hidden-desktop is-hidden-tablet">
              <img class="side-feature" src="/img/illustrations/blockchain-blocks.svg" alt="" />
            </div>
          </div>

          <div class="columns is-vcentered">
            <!-- Feature content -->
            <div class="column is-5 is-offset-1">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">
                  <img src="/img/icons/ico/bitmining.svg" alt="" />
                  <span>Trade Smarter, Earn Faster</span>
                </h3>
                <div class="divider is-long"></div>
                <p class="is-light">
                  Unlock the power of AI-driven precision trading with Algo X. Designed to maximize profits and minimize risks, our intelligent bot adapts to market conditions in real-time, ensuring high-probability trades with minimal effort. Experience the future of automated trading—start winning today!
                </p>
                <!-- <div class="cta-wrapper">
                  <a href="#" class="button k-button k-primary raised has-gradient is-bold">
                    <span class="text"></span>
                    <span class="front-gradient"></span>
                  </a>
                </div>
                 -->
              </div>
            </div>

            <!-- Feature image -->
            <div class="column is-7">
              <img class="side-feature" src="/img/illustrations/crypto-mining.svg" alt="" />
            </div>
          </div>
        </div>
        <!-- /Content wrapper -->
      </div>
      <!-- /Container -->
    </section>
    <!-- /Side Features section -->

    <!-- ICO section -->
    <section class="section is-medium is-end">
      <!-- Container -->
      <div class="container">
        <!-- Divider -->
        <div class="divider is-centered"></div>
        <!-- Title & subtitle -->
        <h2 class="title is-light is-semibold has-text-centered is-spaced">Get Started with Algo X Today!</h2>
        <h4 class="subtitle is-6 is-light has-text-centered is-compact">
          Take control of your trading with Algo X’s powerful automation. Whether you want to buy, rent, or copy our trades, Algo X gives you the edge you need in the market. Don’t miss out—start your journey to smarter, more profitable trading now!
        </h4>

        <!-- Content wrapper -->
        <div class="content-wrapper is-large">
          <!-- Flying tabs wrapper -->
          <div x-data="initTabs()" class="flying-wrapper">
            <!-- Tabs container -->
            <div class="flying-tabs-container">
              <!-- Tabs -->
              <div class="flying-tabs">
                <div
                  @click="switchTabs($event)"
                  class="flying-child tab-1"
                  data-tab="tab-1"
                  :class=`{
                    'is-active': activeTab === 'tab-1',
                    '': activeTab != 'tab-1'
                  }`
                >
                  <!-- <a href="#">ICO</a> -->
                </div>
                <div
                  @click="switchTabs($event)"
                  class="flying-child tab-2"
                  data-tab="tab-2"
                  :class=`{
                    'is-active': activeTab === 'tab-2',
                    '': activeTab != 'tab-2'
                }`
                >
                  <a href="#">Trading Systems</a>
                </div>
                <div
                  @click="switchTabs($event)"
                  class="flying-child tab-3"
                  data-tab="tab-3"
                  :class=`{
                    'is-active': activeTab === 'tab-3',
                    '': activeTab != 'tab-3'
                }`
                >
                  <a href="#">PROFIT</a>
                </div>
                <div
                  @click="switchTabs($event)"
                  class="flying-child tab-4"
                  data-tab="tab-4"
                  :class=`{
                    'is-active': activeTab === 'tab-4',
                    '': activeTab != 'tab-4'
                }`
                >
                  <a href="#">BOUNTY</a>
                </div>
                <div class="slider"></div>
              </div>
            </div>

            <!-- Tabs content wrapper -->
            <div class="flying-tabs-content">








              






              <!-- Tab 2 -->
              <div
                class="tab-content"
                :class=`{
                                'is-active': activeTab === 'tab-2',
                                '': activeTab != 'tab-2'
                            }`
              >
                <div class="columns is-vcentered tab-content-wrapper">
                  <!-- Tab content -->
                  <div class="column is-5 is-offset-1">
                    <div class="text-content">
                      <h4 class="title is-6 is-light animated preFadeInUp fadeInUp">Trading Systems</h4>
                      <ul class="custom-bullet-list">
                        <li class="animated preFadeInUp fadeInUp">
                          <span>Algo X</span>
                          <br />
                          <span class="item-content">Successfully Deployed in Production with Outstanding Results</span>
                        </li>
                        <li class="animated preFadeInUp fadeInUp">
                          <span>Algo X2</span>
                          <br />
                          <span class="item-content">In Pre-Production Testing</span>
                        </li>
                        <li class="animated preFadeInUp fadeInUp">
                          <span>Algo X3</span>
                          <br />
                          <span class="item-content">In-Development</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Tab image -->
                  <div class="column is-5">
                    <img class="animated preFadeInUp fadeInUp" src="/img/illustrations/tokens.svg" alt="" />
                  </div>
                </div>
              </div>
              <!-- /Tab 2 -->

              <!-- Tab 3 -->
              <div
                class="tab-content"
                :class=`{
                                'is-active': activeTab === 'tab-3',
                                '': activeTab != 'tab-3'
                            }`
              >
                <div class="columns is-vcentered tab-content-wrapper">
                  <!-- Tab content -->
                  <div class="column is-5 is-offset-1">
                    <div class="text-content">
                      <h4 class="title is-6 is-light animated preFadeInUp fadeInUp">PROFIT</h4>
                      <ul class="custom-bullet-list">
                        <li class="animated preFadeInUp fadeInUp">
                          <span>Algo X Trading Systems Profit</span>
                          <br />
                          <span class="item-content">Achieve 81% Annual Return by Risking Just 1% per Trade</span>
                        </li>
                        <li class="animated preFadeInUp fadeInUp">
                          <span>Algo X2 Profits</span>
                          <br />
                          <span class="item-content">Achieve 69% Annual Return by Risking Just 1% per Trade</span>
                        </li>
                        <li class="animated preFadeInUp fadeInUp">
                          <span>Transations</span>
                          <br />
                          <span class="item-content">Minimal transaction amount is 1000 USD</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Tab image -->
                  <div class="column is-5">
                    <img class="animated preFadeInUp fadeInUp" src="/img/illustrations/charts.svg" alt="" />
                  </div>
                </div>
              </div>
              <!-- /Tab 3 -->

              <!-- Tab 4 -->
              <div
                class="tab-content"
                :class=`{
                                'is-active': activeTab === 'tab-4',
                                '': activeTab != 'tab-4'
                            }`
              >
                <div class="columns is-vcentered tab-content-wrapper">
                  <!-- Tab content -->
                  <div class="column is-5 is-offset-1">
                    <div class="text-content">
                      <h4 class="title is-6 is-light animated preFadeInUp fadeInUp">REWARDS & BOUNTIES</h4>
                      <ul class="custom-bullet-list">
                        <li class="animated preFadeInUp fadeInUp">
                          <span>Algo X</span>
                          <br />
                          <span class="item-content"></span>
                        </li>
                        <li class="animated preFadeInUp fadeInUp">
                          <span>Algo X2</span>
                          <br />
                          <span class="item-content"></span>
                        </li>
                        <li class="animated preFadeInUp fadeInUp">
                          <span>Algo X3</span>
                          <br />
                          <span class="item-content"></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Tab image -->
                  <div class="column is-5">
                    <img class="animated preFadeInUp fadeInUp" src="/img/illustrations/bounty.svg" alt="" />
                  </div>
                </div>
              </div>
              <!-- /Tab 4 -->


              <!-- Tab 1 -->
              <div class="tab-content" :class=`{
                'is-active': activeTab === 'tab-1',
                '': activeTab != 'tab-1'
            }`>
              <div class="columns is-vcentered tab-content-wrapper">
                



                <!-- ICO Terms -->
                <!-- <div class="column is-5 is-offset-1">
                  <div class="text-content">
                    <h4 class="title is-6 is-light animated preFadeInUp fadeInUp">ICO TERMS</h4>
                    <ul class="custom-bullet-list">
                      <li class="animated preFadeInUp fadeInUp">
                        <span>Presale</span>
                        <br />
                        <span class="item-content">Presale starts on Apr 8 2023 (9:00am GMT)</span>
                      </li>
                      <li class="animated preFadeInUp fadeInUp">
                        <span>Sale</span>
                        <br />
                        <span class="item-content">Trading Systems sales starts on Jun 8 2023 (12:00am GMT)</span>
                      </li>
                      <li class="animated preFadeInUp fadeInUp">
                        <span>Bonus</span>
                        <br />
                        <span class="item-content">Bonus starts on July 29 2023 (12:00am GMT)</span>
                      </li>
                    </ul>
                  </div>
                </div> -->
                <!-- ICO COuntdown -->
                 



                <div class="column is-5">
                  <!-- Card -->
                  <div x-data="initCountdown()" x-init="setupCountdown()" class="ico-card animated preFadeInUp fadeInUp">
                    <!-- Countdown -->
                    <ul id="countdown" class="is-ico">
                      <li id="days">
                        <div id="days-count" class="timer-number">00</div>
                        <div class="label">Days</div>
                      </li>
                      <li id="hours">
                        <div id="hours-count" class="timer-number">00</div>
                        <div class="label">Hours</div>
                      </li>
                      <li id="minutes">
                        <div id="minutes-count" class="timer-number">00</div>
                        <div class="label">Minutes</div>
                      </li>
                      <li id="seconds">
                        <div id="seconds-count" class="timer-number">00</div>
                        <div class="label">Seconds</div>
                      </li>
                    </ul>
                    <!-- Progress bar -->
                    <div class="progress-block">
                      <!-- Tags -->
                      <div class="progress-tags">
                        <div>Presale</div>
                        <div>Soft Cap</div>
                        <div>Bonus</div>
                      </div>
                      <progress class="progress ico-progress" value="65" max="100"> 65% </progress>
                    </div>

                    <!-- Button -->
                    <!-- <div class="button-block">
                      <a href="#" class="button k-button k-secondary raised has-gradient is-bold is-fullwidth rounded">
                        <span class="text"></span>
                        <span class="front-gradient"></span>
                      </a>
                    </div> -->

                    <!-- Icons -->
                    <div class="icon-block">
                      <i class="cf cf-btc"></i>
                      <i class="cf cf-eth"></i>
                      <i class="cf cf-ltc"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Tab 1 -->



























            </div>
          </div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- /Container -->
    </section>
    <!-- /ICO section -->

    <!-- App section -->
    <section class="section is-medium is-darkest">
      <!-- Container -->
      <div class="container">
        <!-- Divider -->
        <div class="divider is-centered"></div>
        <!-- Title -->
        <h2 class="title is-light is-semibold has-text-centered is-spaced">Real-Time Trade Tracking</h2>
        <h4 class="subtitle is-6 is-light has-text-centered is-compact">
          Stay in full control with live, transparent tracking of all your trades. Algo X provides real-time updates on your bot’s performance, ensuring you can monitor progress, adjust strategies, and stay informed every step of the way. Maximize your trading potential with constant visibility and accurate performance insights.
        </h4>

        <!-- Content wrapper -->
        <div class="content-wrapper is-large">
          <!-- Row -->
          <div class="columns is-vcentered">
            <div class="column is-5">
              <!-- Side feature -->
              <div class="side-feature-content">
                <!-- Title -->
                <h3 class="title is-4 is-light">
                  <img src="/img/icons/ico/bitnetwork.svg" alt="" />
                  <span>Track Your Trades with Ease</span>
                </h3>
                <!-- Divider -->
                <div class="divider is-long"></div>
                <p class="is-light">
                  Stay informed and in control with seamless access to all your trade activities through our platform. Algo X ensures that you can monitor bot performance, track live trades, and access real-time results from any device, at any time. Stay connected and make smarter trading decisions with full visibility into your trading journey.
                </p>
                <!-- CTA -->
                <!-- <div class="cta-wrapper">
                  <a href="#" class="button k-button k-primary raised has-gradient is-fat is-bold">
                    <span class="text">Download App</span>
                    <span class="front-gradient"></span>
                  </a>
                </div>
                 -->
              </div>
            </div>
            <!-- Featured image -->
            <div class="column is-7">
              <img class="side-feature" src="/img/illustrations/krypton-app.svg" alt="" />
            </div>
          </div>
        </div>
        <!-- /Content wrapper -->
      </div>
      <!-- /Container -->
    </section>
    <!-- /App section -->

    <!-- Company section -->
    <section class="section is-medium has-big-dark-gradient">
      <!-- Container -->
      <div class="container">
        <!-- Divider -->
        <div class="divider is-centered"></div>
        <!-- Title & subtitle -->
        <h2 class="title is-light is-semibold has-text-centered is-spaced">Meet the Algo X Team</h2>
        <h4 class="subtitle is-6 is-light has-text-centered is-compact">
          At Algo X, we are a team of passionate experts dedicated to revolutionizing automated trading. With deep knowledge in market analysis, AI development, and financial strategies, we create cutting-edge solutions that help you trade smarter and earn more. Our mission is to bring transparency, reliability, and efficiency to your trading experience, every step of the way.
        </h4>

        <!-- Content wrapper -->
        <div class="content-wrapper is-large">
          <div class="columns is-vcentered">
            <div class="column is-hidden-mobile"></div>

            <!-- Team member -->
            <div class="column is-3">
              <div class="team-member-container">
                <!-- Card -->
                <div class="dark-card">
                  <!-- Avatar wrapper -->
                  <div class="avatar">
                    <!-- Svg circle -->
                    <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                      <!-- Track -->
                      <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                      <!-- Stroke -->
                      <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                    </svg>
                    <!-- Sketeched face -->
                    <img class="is-sketch" src="/img/team/john.svg" alt="" />
                    <!-- Real face -->
                    <img class="is-real" src="/img/team/mohsin.jpg" alt="" />
                  </div>
                  <!-- Member meta -->
                  <div class="member-info">
                    <h4 class="title is-light is-6 is-tight">Mohsin Aheer</h4>
                    <div class="position">Founder / Ceo</div>
                    <p class="description">Mohsin Aheer is a passionate trading and AI enthusiast, dedicated to bringing the power of automation and intelligent solutions to the financial markets. As the Founder and CEO of Algo X Trading, he has a vision to help traders achieve smarter, more profitable outcomes by leveraging cutting-edge technology. With his deep understanding of both market dynamics and AI innovation, he continues to drive the development of advanced Trading Systems for both beginners and professionals.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Team member -->
            <div class="column is-3">
              <div class="team-member-container">
                <div class="dark-card">
                  <div class="avatar">
                    <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                      <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                      <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                    </svg>
                    <img class="is-sketch" src="/img/team/john.svg" alt="" />
                    <img class="is-real" src="/img/team/adnan.jpg" alt="" />
                  </div>
                  <div class="member-info">
                    <h4 class="title is-light is-6 is-tight">Adnan Ahmed</h4>
                    <div class="position">Co-Founder / CTO</div>
                    <p class="description">Adnan Ahmed is the Co-Founder & Chief Technical Officer at Algo X Trading, bringing extensive expertise in AI development, machine learning, and financial technology. With a passion for creating innovative trading solutions, Adnan is responsible for overseeing the design, development, and continuous optimization of Algo X’s powerful Trading Systems. His technical leadership ensures that Algo X stays at the forefront of the industry, intelligent solutions for all our users.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Team member -->
            <div class="column is-3">
              <div class="team-member-container">
                <div class="dark-card">
                  <div class="avatar">
                    <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                      <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                      <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                    </svg>
                    <img class="is-sketch" src="/img/team/joshua.svg" alt="" />
                    <img class="is-real" src="/img/team/joshua.jpg" alt="" />
                  </div>
                  <div class="member-info">
                    <h4 class="title is-light is-6 is-tight">Joshua</h4>
                    <div class="position">Business Analyst</div>
                    <p class="description">Joshua is the Business Analyst at Algo X Trading, specializing in data-driven decision making and market analysis. With a keen understanding of financial trends and trading behaviors, Joshua plays a pivotal role in identifying key business opportunities and optimizing strategies for growth. His expertise ensures that Algo X consistently delivers innovative solutions and, positioning the company for long-term success in the competitive trading space.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-hidden-mobile"></div>
          </div>

          <div class="columns is-vcentered">
            <div class="column is-hidden-mobile"></div>

            <!-- Team member -->
            <div class="column is-3">
              <div class="team-member-container">
                <div class="dark-card">
                  <div class="avatar">
                    <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                      <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                      <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                    </svg>
                    <img class="is-sketch" src="/img/team/sara.svg" alt="" />
                    <img class="is-real" src="/img/team/sara.jpg" alt="" />
                  </div>
                  <div class="member-info">
                    <h4 class="title is-light is-6 is-tight">Sara</h4>
                    <div class="position">Product Owner</div>
                    <p class="description">Oversees the development and optimization of Algo X Trading solutions, ensuring seamless performance and user-driven innovation.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Team member -->
            <div class="column is-3">
              <div class="team-member-container">
                <div class="dark-card">
                  <div class="avatar">
                    <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                      <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                      <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                    </svg>
                    <img class="is-sketch" src="/img/team/mike.svg" alt="" />
                    <img class="is-real" src="/img/team/mike.jpg" alt="" />
                  </div>
                  <div class="member-info">
                    <h4 class="title is-light is-6 is-tight">Thomas</h4>
                    <div class="position">Digital Marketing</div>
                    <p class="description">Drives strategic marketing initiatives for Algo X Trading, enhancing brand visibility and user engagement across digital platforms.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Team member -->
            <div class="column is-3">
              <div class="team-member-container">
                <div class="dark-card">
                  <div class="avatar">
                    <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                      <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                      <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                    </svg>
                    <img class="is-sketch" src="/img/team/sandra.svg" alt="" />
                    <img class="is-real" src="/img/team/sandra.jpg" alt="" />
                  </div>
                  <div class="member-info">
                    <h4 class="title is-light is-6 is-tight">Sandra</h4>
                    <div class="position">Sales</div>
                    <p class="description">Leads customer acquisition for Algo X Trading, providing tailored solutions and ensuring a seamless sales experience.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-hidden-mobile"></div>
          </div>

          <!-- Spaced divider -->
          <div class="divider is-centered is-spacer"></div>
          <!-- Title & subtitle -->
          <h2 class="title is-light is-semibold has-text-centered is-spaced">Advisors</h2>
          <h4 class="subtitle is-6 is-light has-text-centered is-compact">
            At Algo X Trading, we believe in leveraging expert knowledge and insights to continually enhance our products and services. Our advisors are highly experienced professionals who bring valuable perspectives in areas like AI development, market trends, financial strategies, and cryptocurrency analysis. With their guidance, we ensure that Algo X remains at the cutting edge of trading automation and provides our clients with the best solutions.
          </h4>


          <div class="content-wrapper is-large">
            <div class="columns is-vcentered is-multiline">
              <!-- Advisor -->
              <!-- <div class="column is-one-fifth">
                <div class="advisor-container has-text-centered">
                  Picture -->
                  <!-- <div class="photo">
                    <img src="/img/team/mohsin.jpg" alt="" data-aos="fade-down" data-aos-delay="100" data-aos-offset="200" data-aos-easing="ease-out-quart" />
                  </div> -->
                  <!-- Meta -->
                  <!-- <div class="info">
                    <div class="subtitle is-6 is-light is-compressed">Mohsin Aheer</div>
                    <div class="position">Chairman - Board Member</div>
                  </div> -->
                <!-- </div>
              </div> -->

              <!-- Advisor
              <div class="column is-one-fifth">
                <div class="advisor-container has-text-centered">
                  <div class="photo">
                    <img src="/img/team/adnan.jpg" alt="" data-aos="fade-down" data-aos-delay="300" data-aos-offset="200" data-aos-easing="ease-out-quart" />
                  </div>
                  <div class="info">
                    <div class="subtitle is-6 is-light is-compressed">Adnan Ahmed</div>
                    <div class="position">Board Member</div>
                  </div>
                </div>
              </div>

            

            </div>
          </div> -->
          <!-- /Content wrapper -->


           <!-- Title & subtitle -->
           <h2 class="title is-light is-semibold has-text-centered is-spaced">FAQ Algo X Trading</h2>
           <h4 class="subtitle is-6 is-light has-text-centered is-compact">
            Here are answers to some of the most common questions about Algo X Trading and our services. If you need more information, feel free to reach out to us directly!
           </h4>


          <!-- Content wrapper -->
          <div class="content-wrapper is-large">
            <div class="columns">
              <div class="column is-5 is-offset-1">
                <!-- Accordion -->
                <div class="accordion">
                  <!-- Option -->
                  <div class="accordion-option">
                    <input type="checkbox" id="toggle1" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle1"> What is Algo X Trading ? </label>
                    <div class="accordion-content">
                      <p>
                        Algo X Trading is an advanced trading platform offering AI-powered Trading Systems that make intelligent, low-risk, high-reward trading decisions. Our bots analyze market trends, volatility, and other factors in real time to maximize profits and minimize risks.
                      </p>
                    </div>
                  </div>

                  <!-- Option -->
                  <div class="accordion-option">
                    <input type="checkbox" id="toggle2" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle2"> How does the Algo X Trading Systems work ? </label>
                    <div class="accordion-content">
                      <p>
                        The Algo X Trading Systems uses machine learning and AI-driven algorithms to monitor market conditions and make informed trade decisions. It adjusts dynamically to the market, deciding when to enter or exit trades for optimal performance.
                      </p>
                    </div>
                  </div>

                  <!-- Option -->
                  <div class="accordion-option">
                    <input type="checkbox" id="toggle3" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle3"> How can I buy or rent the Algo X Trading Systems ? </label>
                    <div class="accordion-content">
                      <p>
                        You can purchase the Algo X Bot through lifetime access, or rent it on a yearly or six-month basis. Simply choose the plan that fits your trading needs and start automating your strategy.
                      </p>
                    </div>
                  </div>

                  <!-- Option -->
                  <div class="accordion-option">
                    <input type="checkbox" id="toggle4" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle4"> Can I track the performance of the Algo X Bot ?                    </label>
                    <div class="accordion-content">
                      <p>
                        Yes! You can track real-time performance and monitor all trades made by the bot. We provide live tracking and updates, so you always stay informed about the bot's results.
                      </p>
                    </div>
                  </div>

                  <!-- Option -->
                  <div class="accordion-option">
                    <input type="checkbox" id="toggle5" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle5"> How do I copy your trades ?                    </label>
                    <div class="accordion-content">
                      <p>
                        You can copy Mohsin Aheer's trades by subscribing to our trade copying service. Once subscribed, your account will mirror the trades made by Muhammad’s Algo X account.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /Accordion -->
              </div>

              <div class="column is-5">
                <!-- Accordion -->
                <div class="accordion">
                  <!-- Option -->
                  <div class="accordion-option">
                    <input type="checkbox" id="toggle6" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle6"> Is there a risk of losing money with the Algo X Bot ?                    </label>
                    <div class="accordion-content">
                      <p>
                        As with any trading strategy, there are always risks. However, Algo X focuses on low-risk, high-reward trades with a strong win rate to minimize potential losses. Proper risk management is an essential part of the trading strategy.
                      </p>
                    </div>
                  </div>

                  <!-- Option -->
                  <div class="accordion-option">
                    <input type="checkbox" id="toggle7" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle7"> Can I use Algo X for cryptocurrency trading ?                    </label>
                    <div class="accordion-content">
                      <p>
                        Yes, Algo X Trading supports a variety of assets, including cryptocurrencies, forex, and commodities. It is designed to adapt to the unique conditions of each market.
                      </p>
                    </div>
                  </div>

                  <!-- Option -->
                  <div class="accordion-option">
                    <input type="checkbox" id="toggle8" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle8">Do I need to have experience to use Algo X Trading System?                    </label>
                    <div class="accordion-content">
                      <p>
                        No experience is required! Algo X is designed for both beginner and experienced traders. The bot handles the complex decision-making for you, making trading accessible to anyone.
                      </p>
                    </div>
                  </div>

                  <!-- Option -->
                  <div class="accordion-option">
                    <input type="checkbox" id="toggle9" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle9"> How do I get started ?                    </label>
                    <div class="accordion-content">
                      <p>
                        Simply sign up for a plan that suits your needs—whether purchasing the bot, renting it, or opting for our trade copying service. Then, follow the easy setup instructions to start trading!
                      </p>
                    </div>
                  </div>

                  <!-- Option -->
                  <div class="accordion-option">
                    <input type="checkbox" id="toggle10" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle10"> Do you offer customer support ?                    </label>
                    <div class="accordion-content">
                      <p>
                        Yes, we provide dedicated customer support to assist you with any questions or issues. We are here to ensure that you have the best possible experience with Algo X.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /Accordion -->
              </div>
            </div>
          </div>
          <!-- /Content wrapper -->


          <!-- Contact section -->
    <section class="section is-medium is-darkest">
      <!-- Container -->
      <div class="container">
        <!-- Divider -->
        <div class="divider is-centered"></div>
        <!-- Title & subtitle -->
        <h2 class="title is-light is-semibold has-text-centered is-spaced">>Media & Partners</h2>
        <h4 class="subtitle is-6 is-light has-text-centered is-compact">
          Here at Algo X Trading, we are dedicated to collaborating with trusted media outlets and partners to share the power of our AI-driven trading solutions. Through articles, interviews, and expert discussions, we aim to educate and empower traders worldwide.
        </h4>

              <!-- Media section -->
              <div class="column is-10 is-offset-1">
                <!-- Post -->
                <div class="blog-post">
                  <a href="#">
                    <!-- Featured image -->
                    <div class="featured-image">
                      <img src="/img/media/post1.svg" alt="" />
                    </div>
                    <!-- Content -->
                    <div class="content">
                      <div class="post-title">
                        Blockchain for dummies
                        <span class="blog-date">27.05.2021</span>
                      </div>
                      <p>An insightful guide to understanding the fundamentals of blockchain technology and its role in trading automation.</p>
                      <!-- Meta -->
                      <div class="post-meta">
                        <div class="author-block">
                          <div class="image is-32x32">
                            <img src="/img/team/adnan.jpg" alt="" />
                          </div>
                          <div class="author-name">by Adnan Ahmed</div>
                        </div>
                        <div class="stats-block">
                          <div class="comments">
                            <iconify-icon class="iconify" icon="lucide:message-circle"></iconify-icon>
                            <span>0</span>
                          </div>
                          <div class="likes">
                            <iconify-icon class="iconify" icon="lucide:heart"></iconify-icon>
                            <span>39</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

                <!-- Post -->
                <div class="blog-post">
                  <a href="#">
                    <!-- Featured image -->
                    <div class="featured-image">
                      <img src="/img/media/post2.svg" alt="" />
                    </div>
                    <!-- Content -->
                    <div class="content">
                      <div class="post-title">
                        The Algo X Trading Algorithm
                        <span class="blog-date">15.04.2021</span>
                      </div>
                      <p>Dive deep into the cutting-edge algorithms powering Algo X Trading and how they revolutionize the world of automated trading.</p>
                      <!-- Meta -->
                      <div class="post-meta">
                        <div class="author-block">
                          <div class="image is-32x32">
                            <img src="/img/team/mohsin.jpg" alt="" />
                          </div>
                          <div class="author-name">by Mohsin Aheer</div>
                        </div>
                        <div class="stats-block">
                          <div class="comments">
                            <iconify-icon class="iconify" icon="lucide:message-circle"></iconify-icon>
                            <span>0</span>
                          </div>
                          <div class="likes">
                            <iconify-icon class="iconify" icon="lucide:heart"></iconify-icon>
                            <span>39</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

                <!-- Post -->
                <div class="blog-post">
                  <a href="#">
                    <!-- Featured image -->
                    <div class="featured-image">
                      <img src="/img/media/post3.svg" alt="" />
                    </div>
                    <!-- Content -->
                    <div class="content">
                      <!--div class="rounded"></div-->
                      <div class="post-title">
                        What is Crypto mining ?
                        <span class="blog-date">02.04.2021</span>
                      </div>
                      <p>Explore the basics of crypto mining and its connection to the broader cryptocurrency ecosystem.</p>
                      <!-- Meta -->
                      <div class="post-meta">
                        <div class="author-block">
                          <div class="image is-32x32">
                            <img src="/img/team/adnan.jpg" alt="" />
                          </div>
                          <div class="author-name">by Adnan Ahmed</div>
                        </div>
                        <div class="stats-block">
                          <div class="comments">
                            <iconify-icon class="iconify" icon="lucide:message-circle"></iconify-icon>
                            <span>0</span>
                          </div>
                          <div class="likes">
                            <iconify-icon class="iconify" icon="lucide:heart"></iconify-icon>
                            <span>39</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <!-- /Media section -->
            </div>

            <!-- CTA -->
            <!-- <div class="cta-wrapper has-text-centered">
              <a href="#" class="button k-button k-primary raised has-gradient is-fat is-bold">
                <span class="text">More Articles</span>
                <span class="front-gradient"></span>
              </a>
            </div> -->

            <!-- Partner logos -->
            <div class="partners">
              <!-- Partner -->
              <div class="partner-item">
                <img src="/img/clients/cryptomarket.svg" alt="" />
              </div>
              <!-- Partner -->
              <div class="partner-item">
                <img src="/img/clients/bitit.svg" alt="" />
              </div>
              <!-- Partner -->
              <div class="partner-item">
                <img src="/img/clients/coin.svg" alt="" />
              </div>
            </div>
          </div>
          <!-- /Content wrapper -->
        </div>
        <!-- /Content wrapper -->
      </div>
    </section>
    <!-- /Company section -->

    <!-- Contact section -->
    <section class="section is-medium is-darkest">
      <!-- Container -->
      <div class="container">
        <!-- Divider -->
        <div class="divider is-centered"></div>
        <!-- Title & subtitle -->
        <h2 class="title is-light is-semibold has-text-centered is-spaced">Get in Touch</h2>
        <h4 class="subtitle is-6 is-light has-text-centered is-compact">
          We’re here to help! If you have any questions or need assistance with Algo X Trading, feel free to reach out. Whether you're looking for more information about our bots, need support, or want to explore our services, we’re happy to connect with you. Contact us today at about@aheer.co, and let’s start your journey to smarter trading!
        </h4>

        <!-- Content wrapper -->
        <div class="content-wrapper is-large">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <!-- Contact icons -->
              <div class="contact-icons">
                <!-- Phone -->
                <a class="contact-icon" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200" data-aos-easing="ease-out-quart">
                  <img class="is-phone" src="/img/icons/phone.svg" alt="" />
                </a>
                <!-- Mail -->
                <a class="contact-icon" data-aos="fade-up" data-aos-delay="300" data-aos-offset="200" data-aos-easing="ease-out-quart">
                  <img class="is-phone" src="/img/icons/mail.svg" alt="" />
                </a>
                <!-- Telegram -->
                <!-- <a class="contact-icon" data-aos="fade-up" data-aos-delay="500" data-aos-offset="200" data-aos-easing="ease-out-quart">
                  <img class="is-telegram" src="/img/logo/telegram.svg" alt="" />
                </a> -->
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-6 is-offset-3">
              <!-- Form -->
              <form class="contact-form">
                <!-- Field -->
                <div class="control-material is-secondary">
                  <input class="material-input" type="text" required />
                  <span class="material-highlight"></span>
                  <span class="bar"></span>
                  <label>Name</label>
                </div>
                <!-- Field -->
                <div class="control-material is-secondary">
                  <input class="material-input" type="email" required />
                  <span class="material-highlight"></span>
                  <span class="bar"></span>
                  <label>Email</label>
                </div>
                <!-- Field -->
                <div class="control-material is-secondary">
                  <textarea rows="3"></textarea>
                  <span class="material-highlight"></span>
                  <span class="bar"></span>
                  <label>Message</label>
                </div>

                <!-- Submit -->
                <div class="has-text-centered">
                  <button class="button is-button k-button k-primary raised has-gradient is-fat is-bold is-submit">
                    <span class="text">Send message</span>
                    <span class="front-gradient"></span>
                  </button>
                </div>
              </form>
              <!-- /Form -->
            </div>
          </div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- Container -->
    </section>
    <!-- Contact section -->
  </div>
</Layout>
