<footer class="krypton-footer">
  <div class="container">
    <!-- Logo -->
    <div class="footer-logo">
      <a href="#">
        <img class="rotating" src="/img/logo/krypton-gradient.svg" alt="" />
        <div class="brand-name">Algo X</div>
        <div class="brand-subtitle">Smart Trading, Maximum Profits</div>
      </a>
    </div>

    <!-- Columns -->
    <div class="columns footer-columns is-vcentered">
      <div class="column is-4">
        <!-- Links group -->
        <ul class="footer-links">
          <li>
            <a href="/token">Trading Bots</a>
          </li>

          <li>
            <a href="/ico">AI-Powered Solutions            </a>
          </li>

          <!-- <li>
            <a href="/roadmap">Roadmap</a>
          </li> -->
        </ul>
      </div>
      <!-- Newsletter -->
      <div class="column is-4">
        <div class="subscribe-block">
          <form>
            <!-- Field -->
            <div class="control">
              <!-- Special input -->
              <input class="krypton-subscribe-input" type="email" name="email" placeholder="" />
              <button class="subscribe-button">
                <span>Subscribe</span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- Links group -->
      <div class="column is-4">
        <ul class="footer-links">
          <!-- <li>
            <a href="#">Register</a>
          </li> -->

          <li>
            <a href="/roadmap">Roadmap</a>
          </li>

          <li>
            <a href="/blog">Blogs</a>
          </li>

          <!-- <li>
            <a href="https://t.me/motradingskilledtrader">Telegram</a>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- Copyright -->
    <p class="k-copyright">©  2021-2025 | Algo X Trading. All Rights Reserved</p>
    <br />
    <!-- Made by -->
    <p class="coded-by">
      Algo X Development Team <a href="https://algoxtrader.aheer.co/" target="_blank">Mohsin Aheer</a>
    </p>
  </div>

  <!-- Absolute image -->
  <img class="solar-system" src="/img/bg/solar.svg" alt="" />
</footer>
